/*---------------------*/
/* Mobile First Layout */
/*---------------------*/

/* Scrollbar Width */
::-webkit-scrollbar {
	width: 0px;
}

/* Main Navigation */
.main-nav {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;
	padding: 20px;
}
.nav-logo img {
	width: 100px;
}
.nav-links li {
	display: none;
}
.menu-icon {
	text-align: right;
}

/* Main Wrapper */
.main-wrapper {
	margin: 0px;
}

/* Header */
header {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header img {
	width: 50vw; 
}

/* Title Span */
.subtitle {
	text-align: center;
	padding: 50px;
}

/* About */
.about-splash{
	text-align: center;
}
.about-text {
	margin: 40px;
}
.about-splash img {
	width: 100%;
}
.about-story {
	text-align: center;
	margin: 0px 40px;
}

.team-box {
	text-align: center;
}
.team-avatar {
	background-size: cover;
	background-position: center;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	height: 300px;
}
.team-avatar.graham {
	background-image: url(/img/avatars/graham.png);
}
.team-avatar.chris {
	background-image: url(/img/avatars/chris.png);

}
.team-text {
	padding: 50px;
}
.team-text p {
	padding: 20px 0px;
}


.profile-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	text-align: center;
}
.profile-avatar img {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.profile-text {
	text-align: justify;
	padding: 0px 40px;
}
.profile-social, .profile-text, .profile-title {
	margin: 20px 0px;

}
.profile-social li {
	display: inline;
}
.profile-social img {
	width: 20px;
}
.profile-qna {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	column-gap: 40px;
	margin-bottom: 40px;
}
.profile-skills {
	padding: 0px 40px 40px 40px;
	text-align: left;
}

/* Contact */
.contact-form {
	text-align: center;
	margin: 40px;
}
.contact-map {
	height: 200px;
	border-radius: 0px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #e0e0e0;
}

.not-found {
	padding: 40px;
}

/* Footer */
.foot-details, .foot-about, .foot-posts, .foot-mailing {
	margin-bottom: 40px;
}
.foot-mailing p {
	margin: 20px 0px;
}