/*----------------*/
/* Desktop Layout */
/*----------------*/

/* Scrollbar Width */
::-webkit-scrollbar {
	width: 8px;
}
/* Scrollbar Track Colour */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}
/* Scrollbar Thumb Colour */
::-webkit-scrollbar-thumb {
	background: #ee3078;
}

/* Main Wrapper */
.main-wrapper {
	margin: 40px 10vw;
}

/* Header */
header {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header img {
	width: 50vw; 
}
header h1 {
	font-size: 5vw;
}

/* Title Span */
.subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}
/* Title Span */
.sub {
	height: 100px;
}

/* About */
.about-splash{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
}
.about-text {
	margin: 40px;
}
.about-splash img {
	background-color: #f9f9f9;
	padding: 10px;
	border: 1px solid #e0e0e0;
	width: 100%;
}
.about-image-left {
	grid-column: 1/4;
	grid-row: 1/4;
}
.about-text.left {
	grid-column: 4/6;
	grid-row: 1/2;
	text-align: left;
}
.about-image-right {
	grid-column: 3/6;
	grid-row: 3/5;
	
}
.about-text.right {
	grid-column: 1/3;
	grid-row: 4/5;
	text-align: right;
}
.about-story p {
	text-align: center;
	margin: 0px 10vw;
	line-height: 2;
}

.about-team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 40px;
}

.team-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 1px solid #e0e0e0;
	padding: 0px;
	margin: 0px;
}
.team-text h3 {
	padding: 0px;
	margin: 0px;
}
.team-text p {
	padding-bottom: 10px;
}
.team-box img {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.team-text {
	padding: 20px;
}

/* Profile */

.profile-grid {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: auto;
	column-gap: 50px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.profile-avatar img {
	width: 100%;
	border: 1px solid #e0e0e0;
}
.profile-text {
	text-align: justify;
	padding: 0px;
}
.profile-social, .profile-text, .profile-title {
	margin: 20px 0px;
}
.profile-social li {
	display: inline;
}
.profile-social img {
	width: 20px;
}
.profile-qna {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 40px;
	margin-bottom: 40px;
}
.profile-skills {
	padding: 0px;
}

/* Contact */
.contact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	margin: 40px;
}
.contact-form {
	text-align: left;
}
.contact-map {
	height: auto;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background-color: #f4f4f4;
}
.not-found {
	padding: 40px;
}

/* Footer */
.footer {
	padding: 40px 10vw;
}
.foot-inner {
	display: grid;
	grid-template-columns: 1fr 1fr auto 1fr 2fr;
	grid-template-rows: auto;
	grid-column-gap: 40px;
}
.foot-details {
	text-align: left;
}
.foot-details img {
	width: 40px;
}
.foot-about {
	text-align: center;
}
.foot-mailing {
	text-align: right;
}
.foot-mailing p {
	margin: 10px 0px;
}
.foot-copy {
	text-align: left;
	padding: 20px 0px;
}
.foot-social {
	grid-column: 5/6;
	text-align: right;
	grid-row: 2/3;
	padding: 20px 0px;
}