/* -------------------------------------- */
/* Gobal Borders, Box-Sizing & Typography */
/* -------------------------------------- */

/* Google Font Import - Siara Semi Condensed - Normal 300 & Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;700&display=swap');

/* Global */
* {
	font-family: 'Saira Semi Condensed', sans-serif;
	box-sizing: border-box;
	outline: none;
	border: none;
}

/* Body Padding and Margin */
body {
	padding: 0px;
	margin: 0px;;
}

/* Headings and Paragraph styling */
h1, h2, h3, h4, h5, h6, p {
	color: #1b1b1b;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}
p {
	font-size: 1rem;
}

/* Text Hyperlinks */
a {
	text-decoration: none;
	color: #1b1b1b;
	transition: 300ms;
}
a:hover {
	color: #ee3078;
}

/* Input Boxes & Text Areas */
textarea {
	height: 100px;
	resize: none;
}
input, textarea {
	width: 100%;
	font-size: 1rem;
	border-radius: 3px;
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.05);
	border: 1px solid #E0E0E0;
	margin: 0px;
	padding: 7.5px;
	transition: 300ms;
}
input:focus, textarea:focus {
	border: 1px solid #509ec9;
}

/* Buttons */
button {
	background: #ee3078;
	color: #f5f5f5;
	font-weight: 500;
	padding: 10px 15px;
	margin: 0px;
	border-radius: 3px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 300ms;
}
button:hover {
	filter: brightness(1.05);
}

/* Lists and List Items */
ol, ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* Main Navigation */
.navbar {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;
	background-color: #fff;
	position: fixed;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
}
.navbar-logo img {
	width: 100px;
}
.navbar-icon {
	text-align: right;
}
.navbar-menu {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}
.links-social img {
	width: 25px;
}
.links-social li {
	display: inline;
}


/* Header Section */
header {
	border-bottom: 1px solid #E0E0E0;
}

/* About */
.team-box {
	background-color:#f9f9f9;
}
.team-avatar.graham {
	background-image: url(/img/avatars/graham.png);
	background-size: cover;
	background-position: center;
}
.team-avatar.chris {
	background-image: url(/img/avatars/chris.png);
	background-size: cover;
	background-position: center;
}

.skill-meter {
	background-color: #ee3078;
	padding: 5px;
	display: block;
	margin: 10px 0px;
}
.sk1 {
	width: 60%;
}
.sk2 {
	width: 80%;
}
.sk3 {
	width: 70%;
}
.sk4 {
	width: 90%;
}

/* Contact Form */
.contact-form h2, h3 {
	margin-top: 20px;
	color: #777;
}
.contact-form button {
	margin-bottom: 10px;
	width: 100%;
}
.contact-form input {
	margin-bottom: 10px;
}
.contact-grid h1 {
	margin-top: 0px;
}

/* Footer */
footer {
	padding: 20px;
	margin: 0px;
	text-align: center;
	background-color: #f5f5f5;
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.05);
}
footer input {
	width: auto;
}
.foot-social li {
	display: inline;
}
.foot-social img {
	width: 25px;
}
